.admin-dashboard {
    /* background-image: linear-gradient(
    #99b898,
    #feceab,
    #ff847c,
    #e84a5f,
    #2a363b
  ); */
    background-image: linear-gradient(
        #e5fcc2,
        #9de0ad,
        #45ada8,
        #547980,
        #2a363b
    );
    background-size: cover;
    min-height: 100vh;
    width: 100% !important;

    text-align: center;
}

.navbar-admin {
    width: 100% !important;
    padding: 0 !important;
}

.navbar-content-admin {
    color: #ffffff !important;
}

.admin-card-img {
    width: 100px;
    height: 100px;
    margin: 30px auto;
}
