.edit-student-profile {
  background-image: linear-gradient(
    #e5fcc2,
    #9de0ad,
    #45ada8,
    #547980,
    #2a363b
  );
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.form-row {
  margin: 0 auto !important;
}

#student-details {
  text-align: center;
}

.student-details-img {
  text-align: center;
}

.a-dashboard-button {
  color: white !important;
}
