.container {
  margin: 0 !important;
  padding: 0 !important;
}

.flex-column {
  height: 100vh;
  padding: 0 20px 0 20px !important;
}

img {
  width: max-content;
  height: max-content;
  padding: 10px 0;
}

.profile-name {
  text-align: center;
}
