<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
  	<i class="fas fa-university fa-6x"></i>
    <h1 class="display-3">Academic Management System</h1>
    <p class="lead">Choose Your Role</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/adminlogin" role="button">Admin</a>
    <a class="btn btn-dark btn-lg" href="/student" role="button">Student</a>

  </div>
</div>

<%- include('partials/footer') %>
