.container {
  margin: 0 !important;
  padding: 0 !important;
}

.flex-column {
  height: 150vh;
  padding: 0 20px 0 20px !important;
  max-width: fit-content !important;
}

.student-img {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px !important;
}

.profile-name {
  text-align: center;
}
