/* .container {
  margin: 0 !important;
  padding: 0 !important;
}

.flex-column {
  height: 150vh;
  padding: 0 20px 0 20px !important;
  max-width: fit-content !important;
  background-color: rgb(4, 10, 44);
}
 */

.sidebar-component {
  background-color: #2b323f;
  min-height: 100vh;
}

.student-img {
  align-self: center;
  max-width: fit-content;
  width: 150px;
  height: 150px;
  padding: 20px auto !important;
  border-radius: 1%;
}

.sidebar-link {
  color: #e5e5e5 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.tech-company {
  font-size: 1.5em;
  color: #109cf1 !important;
}
