.navbar-student {
  /* width: 100% !important; */
  /* padding: 0 !important; */
  background-color: #2b323f !important;
}

/* .items {
    padding: 10px;
    color: black !important;
}

.portal-name {
    padding-left: 70px;
} */

.nav-link:hover {
  text-decoration: none !important;
}
