.navbar-student {
  width: 100% !important;
  padding: 0 !important;
  background-color: #f67280 !important;
  height: 8vh !important;
}

.items {
  padding: 10px;
  color: black !important;
}

.portal-name {
  padding-left: 70px;
}
