.Login {
  background-image: linear-gradient(
    #355c7d,
    #6c5b7b,
    #c06c84,
    #f67280,
    #f8b195
  );
  height: 100vh;
  width: 100vw;
  background-size: cover;
  padding: 200px;
  /* margin: 0 0 !important; */
}

.card {
  width: 400px !important;
  padding: 60px 20px;
  max-height: 500px;
}

/* .form {
  margin: 20vh auto !important;
} */
