.register {
    margin: 0 !important;
    height: 100vh;
    background-image: url("../images/bg_1.jpg");
    padding-top: 75px;
}

.card-img-register {
    height: 100%;
    width: 100%;
}

.register-card-row {
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px !important;
}
