.selectUser {
  /* background-image: linear-gradient(#f8b195 #f67280, #6c5b7b, #c06c84, #355c7d); */
  background-image: linear-gradient(
    #f8b195,
    #f67280,
    #c06c84,
    #6c5b7b,
    #355c7d
  );
  /* background-color: aqua; */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Poppins, sans-serif;
}

.welcome {
  color: white;
  text-align: center;
}
